
html{
    font-size: 14px;
}

.mycheckbox input[type="checkbox"] {
    margin-right: 5px;
}

.img-holder {
    position: relative;
    background: #ccc url('../images/nophoto.jpg') no-repeat center center;
    background-size: 50px auto;
    overflow: hidden;
    display: block;
}

.img-holder:after {
    content: '';
    display: block;
    width: 100%;
}

.img-holder.size-gridImage:after {
    padding-top: 81.25%;
}

/*HEADER START*/
.navbar-container .logo-image {
height: 70px;
margin-top: 4px;
}

.navbar-container .scns-name {
    font-size: 18px;
    color: darkblue;
    font-weight: bold;
    text-transform: uppercase;
}


.navbar-light .navbar-toggler {
    border-color: #E84C3D;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(232,76,61, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav li {
    background: #E84C3D;
    text-align: center;
    transition: 0.5s linear;
}

.navbar-nav li:hover,
.navbar-nav li.active {
    background: #e07167;
}

.navbar-nav li a.nav-link {
    text-transform: uppercase;
    color: #fff !important;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s linear;
}

.navbar-nav li:hover a.nav-link,
.navbar-nav li.active a {
    color: #fff !important;
}

#main-menu {
    margin: 0 -15px;
}



/*MAIN*/

.lead-section .page-name,
#afterStarting .page-name {
    font-size: 20px;
    font-weight: bold;
    color: #6b6b6b;
}

.checkbox-section{
    padding: 20px;
}

/*izbor-section*/
.izbor-section {
    padding: 20px;
}

.izbor-section .submit-span,
.search-section .submit-span{
    color: red;
    font-weight: bold;
    font-size: 1rem;
}

.izbor-section .submit-span-none {
    white-space: normal;
}

.search-section .submit-label,
.izbor-section .submit-label {
    font-weight: bold;
    font-size: 14px;
}

.izbor-section .submit-textbox,
.izbor-section .price-textbox,
.izbor-section .submit-textbox {
    font-size: 14px;
    border: 1.5px solid #bdbdbd;
    background: rgba(255,255,255,0);
    box-shadow: 0 0 1px #bdbdbd inset;
    padding: 3px 10px;
    width: 50%;
}

.izbor-section .submit-dropdownlist,
.search-section .submit-dropdownlist {
    font-size: 14px;
    border: 1.5px solid #bdbdbd;
    background: rgba(255,255,255,0);
    box-shadow: 0 0 1px #bdbdbd inset;
    padding: 3px 10px;
    width: 80%;
}

.izbor-section .submit-textbox:focus,
.izbor-section .price-textbox:focus,
.izbor-section .submit-dropdownlist:focus,
.search-section .submit-textbox:focus,
.search-section .submit-dropdownlist:focus {
    background: rgba(220,220,220,0.3);
    color: #000;
    border: 1.5px solid darkgray;
    box-shadow: none;
}

.izbor-section .submit-example {
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
}

.submit-customValidator {
    font-size: 14px;
    font-weight: bold;
    color: red;
}

.after-starting .submit-label {
    font-weight: bold !important;
    font-size: 16px !important;
}

.after-starting .submit-label-db {
    color: #E84C3D !important;
    font-size: 20px !important;
}

.Submit-btnClear {
    padding: 5px;
    border: 1px solid #000;
    border-radius: 8px;
}

.Submit-btnClear:hover {
    background: #E84C3D;
    color: azure;
}

.submit-Timer {
    font-size: 25px;
}
/*Button*/
.btn-danger {
    background-color: #E84C3D !important;
    font-size: 16px !important;
}

.btn-danger:hover {
    background-color: #c22617 !important;
}

.save {
    padding: 10px 30px 10px 43px;
    background: url(../img/save.png) left 12px top 10px no-repeat #E84C3D;
}

.btn-success {
    font-size: 14px !important;
}

.btn-secondary {
    font-size: 13px !important;
}

/*GridView*/

.section-gridview .container-grid {
    max-width: 1140px !important;
}

.section-gridview .gridview-left-side {
    margin-left: 0px;
}

.section-gridview .gridview-right-side {
    margin-right: 0px;
}

.section-gridview .icons {
    font-size: 25px;
    color: #c22617;
    text-decoration: none;
    text-align: center;
}

.link-style-gridview {
    color: #c22617 !important;
    text-decoration: none;
    font-weight: bold;
}


/*TOOLTIP*/
#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #111;
    background-color: #FEFFFF;
    padding: 5px;
    opacity: 1.55;
}

    #tooltip h3, #tooltip div {
        margin: 0;
    }



#afterStarting .submit-textbox {
    font-size: 14px;
    border: 1.5px solid #bdbdbd;
    background: rgba(255,255,255,0);
    box-shadow: 0 0 1px #bdbdbd inset;
    padding: 7px 10px;
    
}




/*GridView*/
.section-gridview {
    min-height: 750px;
}

.container-grid {
    max-width: 1140px;
}

.section-gridview .icons {
    font-size: 25px;
    color: #c22617;
    text-decoration: none;
    text-align: center;
}

.link-style-gridview {
    color: #c22617 !important;
    text-decoration: none;
    font-weight: bold;
}

#GridView1 tr:hover {
    background: #E84C3D; /*svaki red u body-u, hover sa nekom bojom, kada se prelazi*/
    color: #fff;
}

#GridView2 tr:hover {
    background: #E84C3D; /*svaki red u body-u, hover sa nekom bojom, kada se prelazi*/
    color: #fff;
}


/*Button*/
.btn-danger {
    background-color: #E84C3D !important;
    font-size: 16px !important;
}

.btn-danger:hover {
    background-color: #c22617 !important;
}


.link-style-gridview {
    text-decoration: none;
    font-weight: bold;
}


.right-section .submit-textbox {
    font-size: 14px;
    font-weight: bold;
    border: 1.5px solid #bdbdbd;
    background: rgba(255,255,255,0);
    box-shadow: 0 0 1px #bdbdbd inset;
    padding: 2px 10px;
    width: 25%;
}